<p id="notice"><%= notice %></p>
<br>
<% cache do %>

<h2>Hi! Welcome to my art atelier.</h2>
<p>I am a self-taught mandala artist based in Berlin, Germany. I was drawn to painting mandalas to relieve my anxiety.
There is nothing so comforting as focused and detailed work which brings so much satisfaction once it is finished. It may take days to finish a mandala,
depending on the complexity of its elements. But whenever I look at one, I remember the effort and endless hours of love and passion that went into making them.
Whether it is a tiny design on a greeting card or a huge canvas, each one of them brings me contention and happiness, and I hope they would do the same for you
as you see them in our own space. It can be a sort of light meditation to be led into the intricate maze of a mandala. Find peacefulness and serenity in them.</p>
<% end %>
<div class="artimage">
<%= image_tag("arting1.jpg", class: "img-responsive my-image", alt: "lotus") %>
</div>
