<p id="notice"><%= notice %></p>
<br>
<% cache do %>
<p>This is my app for learning how to develop and maintain web pages.</p>
<% end %>
<%= image_tag("lotus.jpg", class: "img-responsive my-image", alt: "lotus") %>
