<div class="container">
  <br>
  <div class="pay-sticky-top">
    <p class="product_title"> Thank you for your purchase! In case you have any questions please </p>
    <%= link_to 'Contact us', simple_pages_contact_path, class:"btn btn-danger" %>
  </div>
</div>
