// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pay-sticky-top {
  position: relative;
}

#paycontact {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
