// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// simple_pages

* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: salmon;
  position: relative;
}

.page-wrap {
  min-height: 10%;
  /*equal to footer height */
  margin-bottom: 40px;
}

.page-wrap.after {
  content: "";
  display: block;
}

nav {
  font-family: sans-serif;
  padding-right: 5px;
  padding-left: 5px;
}

.navbar-brand {
  font-family: serif;
  font-size: 2.7em;
  position: fixed;
  float: left;
}

.navbar-form {
  text-align: center;
}

ul li:hover {
  background-color: PeachPuff;
}

.nav-item {
  text-align: center;
}

.site-footer, .page-wrap.after {
  content: "";
  display: block;
}

.site-footer {
  background: RosyBrown;
  margin-top: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
}

footer {
  text-align: center;
}


// Landing page

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

// Index

h1 {
  font-family: serif;
  color: teal;
  text-align: center;
  padding-top: 70px;
}

h2 {
  text-align: center;
}

.img-responsive {
  max-width: 100%;
}

// About

p {
  text-align: center;
  padding-top: 160px;
}

// Contact
