// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// simple_pages

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: salmon;
}

.page-wrap {
  min-height: 30%;
  /*equal to footer height */
  margin-bottom: -142px;
}

.page-wrap.after {
  content: "";
  display: block;
}

nav {
  font-family: sans-serif;
}

.navbar-brand {
  font-family: serif;
  font-size: 4em;
  margin: 3px 3px;
}

.site-footer, .page-wrap.after {
  content: "";
  display: block;
}
.site-footer {
  background: orange;
}

footer {
  text-align: center;
}



// Index

h1 {
  font-family: serif;
  color: teal;
  text-align: center;
}

h2 {
  text-align: center;
}

// About

p {
  text-align: center;
}
// Contact

p {
  text-align: center;
}
