// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// simple_pages

* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: salmon;
  position: relative;
}

.page-wrap {
  min-height: 30%;
  /*equal to footer height */
  margin-bottom: -100px;
}

.page-wrap.after {
  content: "";
  display: block;
}

nav {
  font-family: sans-serif;
  padding-right: 5px;
  padding-left: 5px;
}

.navbar-brand {
  font-family: serif;
  font-size: 3em;
  margin: 3px 3px;
}

.site-footer, .page-wrap.after {
  content: "";
  display: block;
}
.site-footer {
  background: RosyBrown;
  margin-top: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0;
  width: 100%;
}

footer {
  text-align: center;
}



// Index

h1 {
  font-family: serif;
  color: teal;
  text-align: center;
  padding-top: 80px;
}

h2 {
  text-align: center;
}

.img-responsive my-image {
  max-width: 100%;
}

// About

p {
  text-align: center;
  padding-top: 150px;
}




// Contact
