<div class="container">
  <h1>Add New Product</h1>
  <div class="new-product">
    <div class="thumbnail">
      <%= render 'form', product: @product %>
      <%= link_to 'Back', products_path %>
    </div>
  </div>
</div>
